  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    
    
  }
  
  label, input{
    color: #1d8eff91;
    font-weight: bold;
   
    font-size: 18px;
  }
div.errors{
  content: "please Try Again";
}
  
 input[type=text], input[type=email], textarea.textbg {
   color: rgb(255, 255, 255);
   text-shadow: 0px 0px 2px  lime;
   background : #00000021;
 } 


